<!DOCTYPE html>
<html>

<head>
  <title>{{ .title }}</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <h1 id="title">{{ .title }}</h1>

  <div class="couche1">

    <div class="couche2">

      <div class="couche23">

        <div class="couche3">

          <div class="couche4">
            <a href="players/PP0222JV/chests">
              <span class="battle">{{ .chest}}</span>
            </a>
            <div class="couche5">

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

  <!-- ############################################### -->

  <div class="couche1" id="green1">

    <div class="couche2" id="green2">

      <div class="couche23" id="green23">

        <div class="couche3" id="green3">

          <div class="couche4" id="green4">

            <span class="battle" id="battle_green">Battles</span>

            <div class="couche5" id="green5">

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

  <!-- ############################################### -->

  <div class="couche1" id="red1">

    <div class="couche2" id="red2">

      <div class="couche23" id="red23">

        <div class="couche3" id="red3">

          <div class="couche4" id="red4">

            <span class="battle" id="battle_red">Cards</span>

            <div class="couche5" id="red5">

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>


  <!-- ############################################### -->

  <div class="couche1" id="blue1">

    <div class="couche2" id="blue2">

      <div class="couche23" id="blue23">

        <div class="couche3" id="blue3">

          <div class="couche4" id="blue4">

            <span class="battle" id="battle_blue">Clan</span>

            <div class="couche5" id="blue5">

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</body>

</html>