@import 'https://fonts.googleapis.com/css?family=Bungee';

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  body {
    margin: 0;
    padding: 0;
    background-color: #0F4D84;
    background-image:
      repeating-linear-gradient(120deg, rgba(255, 255, 255, .1), transparent 1px, transparent 10000px),
      repeating-linear-gradient(60deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1) 1px, transparent 1px, transparent 10000px),
      linear-gradient(60deg, rgba(0, 0, 0, .1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, .1) 75%, rgba(0, 0, 0, .1)),
      linear-gradient(120deg, rgba(0, 0, 0, .1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, .1) 75%, rgba(0, 0, 0, .1));
    background-size: 180px 305px;
  }

  ul {
    list-style: none;
    margin: 0 auto;
    font-size: 10px;
    font-family: "bungee", sans-serif;
    font-style: normal;
    color: white;
    text-shadow: -1px 0 1px #582E00,
      1px 0 1px #582E00,
      0 -1px 1px #582E00,
      0 4px 1px #582E00,
      -2px 4px 1px #582E00,
      2px 3px 2px #582E00;
  }

  #title {
    margin: 0 auto;
    border-bottom: 5px solid black;
    font-size: 39px;
    font-family: "bungee", sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: white;
    text-shadow: -1px 0 1px #582E00,
      1px 0 1px #582E00,
      0 -1px 1px #582E00,
      0 4px 1px #582E00,
      -2px 4px 1px #582E00,
      2px 3px 2px #582E00;
  }


  .couche1 {
    position: relative;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    width: 300px;
    height: 100px;
    background: black;
    -webkit-box-shadow: 0px 11px 2px #301C09;
    -moz-box-shadow: 0px 11px 2px #301C09;
    box-shadow: 0px 11px 2px #301C09;
    cursor: pointer;
    margin: 80px auto;


  }

  .couche2 {
    position: absolute;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 294px;
    height: 94px;
    margin-top: 3px;
    margin-left: 3px;
    background: #FDA80D;
    -webkit-box-shadow: 0px 9px 0px #AF6B06;
    -moz-box-shadow: 0px 9px 0px #AF6B06;
    box-shadow: 0px 9px 0px #AF6B06;

  }

  .couche23 {
    position: absolute;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 292px;
    height: 80px;
    margin-top: 5px;
    margin-left: 1px;
    -webkit-box-shadow: 0px -4px 5px 0px #FFDC33;
    -moz-box-shadow: 0px -4px 5px 0px #FFDC33;
    box-shadow: 0px -4px 5px 0px #FFDC33;


  }

  .couche3 {
    position: absolute;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top: 0px;
    margin-left: 5px;
    width: 281px;
    height: 82px;
    background: rgba(255, 187, 42, 1);
    -webkit-box-shadow: 0px 4px 3px 0px #FE8906;
    -moz-box-shadow: 0px 4px 3px 0px #FE8906;
    box-shadow: 0px 4px 3px 0px #FE8906;

  }

  .couche4 {
    position: absolute;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 3px;
    width: 275px;
    height: 38px;
    background: #FFD053;

  }

  .couche5 {
    position: absolute;
    -webkit-border-radius: 45%;
    -moz-border-radius: 45%;
    border-radius: 45%;
    margin-top: 0px;
    margin-left: 267px;
    width: 7px;
    height: 9px;
    background: #FFF1B6;

  }

  .battle {
    position: absolute;
    font-family: "bungee", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #FFFFCC;
    font-size: 1.7em;
    margin-top: 2px;
    margin-left: 85px;
    text-shadow: -1px 0 1px #582E00,
      1px 0 1px #582E00,
      0 -1px 1px #582E00,
      0 4px 1px #582E00,
      -2px 4px 1px #582E00,
      2px 3px 2px #582E00;
  }

  .upcoming-chest-item {
    position: relative;
    font-family: "bungee", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #FFFFCC;
    font-size: 1.7em;
    margin-top: 2px;
    margin-left: 2px;
    text-shadow: -1px 0 1px #582E00,
      1px 0 1px #582E00,
      0 -1px 1px #582E00,
      0 4px 1px #582E00,
      -2px 4px 1px #582E00,
      2px 3px 2px #582E00;
  }

  /*effects*/
  .couche1:active {
    width: 280px;
    height: 95px;
  }

  .couche1:active .couche2 {
    width: 274px;
    height: 89px;
  }

  .couche1:active .couche23 {
    width: 272px;
    height: 75px;
  }

  .couche1:active .couche3 {
    width: 261px;
    height: 77px;
  }

  .couche1:active .couche4 {
    width: 255px;
    height: 32px;
  }

  .couche1:active .couche5 {
    width: 6px;
    height: 8px;
    margin-left: 248px;
  }

  .couche1:active .battle {
    margin-top: -3px;
    margin-left: 75px;
  }



  /*red*/


  #red2 {
    background: #FC3632;
    -webkit-box-shadow: 0px 9px 0px #9C1814;
    -moz-box-shadow: 0px 9px 0px #9C1814;
    box-shadow: 0px 9px 0px #9C1814;

  }

  #red23 {
    -webkit-box-shadow: 0px -4px 5px 0px #FE5970;
    -moz-box-shadow: 0px -4px 5px 0px #FE5970;
    box-shadow: 0px -4px 5px 0px #FE5970;

  }

  #red3 {
    background: #FC4262;
    -webkit-box-shadow: 0px 4px 3px 0px #E42625;
    -moz-box-shadow: 0px 4px 3px 0px #E42625;
    box-shadow: 0px 4px 3px 0px #E42625;

  }

  #red4 {
    background: #FF6666;

  }

  #red5 {
    background: #FFC8C8;


  }

  #battle_red {
    text-shadow: -1px 0 1px #990000,
      1px 0 1px #990000,
      0 -1px 1px #990000,
      0 4px 1px #990000,
      -2px 4px 1px #990000,
      2px 3px 2px #990000;
    color: #FFFFCC;
  }




  /*green*/

  #green2 {
    background: #09CC48;
    -webkit-box-shadow: 0px 9px 0px #0D8F23;
    -moz-box-shadow: 0px 9px 0px #0D8F23;
    box-shadow: 0px 9px 0px #0D8F23;

  }

  #green23 {
    -webkit-box-shadow: 0px -4px 5px 0px #60DA61;
    -moz-box-shadow: 0px -4px 5px 0px #60DA61;
    box-shadow: 0px -4px 5px 0px #60DA61;

  }

  #green3 {
    background: #30ED45;
    -webkit-box-shadow: 0px 4px 3px 0px #25D039;
    -moz-box-shadow: 0px 4px 3px 0px #25D039;
    box-shadow: 0px 4px 3px 0px #25D039;

  }

  #green4 {
    background: #50FF65;

  }

  #green5 {
    background: #D9FFFF;


  }

  #battle_green {
    text-shadow: -1px 0 1px #005F00,
      1px 0 1px #005F00,
      0 -1px 1px #005F00,
      0 4px 1px #005F00,
      -2px 4px 1px #005F00,
      2px 3px 2px #005F00;
    color: #FEFEFE;
  }




  /*blue*/

  #blue2 {
    background: #2199FF;
    -webkit-box-shadow: 0px 9px 0px #004FA5;
    -moz-box-shadow: 0px 9px 0px #004FA5;
    box-shadow: 0px 9px 0px #004FA5;

  }

  #blue23 {
    -webkit-box-shadow: 0px -4px 5px 0px #3EBAFF;
    -moz-box-shadow: 0px -4px 5px 0px #3EBAFF;
    box-shadow: 0px -4px 5px 0px #3EBAFF;

  }

  #blue3 {
    background: #4CADFF;
    -webkit-box-shadow: 0px 4px 3px 0px #2181FC;
    -moz-box-shadow: 0px 4px 3px 0px #2181FC;
    box-shadow: 0px 4px 3px 0px #2181FC;

  }

  #blue4 {
    background: #67BCFF;

  }

  #blue5 {
    background: #D9FFFF;


  }

  #battle_blue {
    text-shadow: -1px 0 1px #002F83,
      1px 0 1px #002F83,
      0 -1px 1px #002F83,
      0 4px 1px #002F83,
      -2px 4px 1px #002F83,
      2px 3px 2px #002F83;
    color: #FEFEFE;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {}